:root{
    --upDown:rgb(106, 106, 219);
    --upDownletters:rgb(224, 204, 179);
}

body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 0;
display: flex;
flex-direction: column;
}

header{
    background-color: var(--upDown);
    color: var(--upDownletters);
}
figure{
    display: inline;
    font-size: 200%;
    margin-left: 15px;
    width: 20%;
    height: auto;
    overflow: auto;
}
figure h1{
    margin-left: 10px;
}

main{
    background-color: rgb(221, 210, 210);
}
article{
    background-color: floralwhite;
    margin: 15px;
    margin-bottom: 20px;
}
article h2{
    font-size: 170%;
}
article p{
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 10px;
}

article li{
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 10px;
}

footer{
    font-size: 180%;
    text-align: center;
    background-color: var(--upDown);
    color: var(--upDownletters);
}

.right-corner li {
    float: right;
    display: inline;
    margin-right: 25px;
    margin-bottom: 10px;
}
.right-corner a{
    margin-left: 30px;
    font-size: 180%;
    text-decoration: none;
    color: var(--upDownletters);
}
.right-corner ul li a:hover {
    color: black;
}
.projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects > div{
    flex: 1 1 300px;
    max-width: calc(50%-20px);
    margin: 0 10px 20px;
}

.projects img{
    max-width:100%;
    height: auto;
}
.projects a{
    text-decoration: none;
    font-size: 170%;
    color: black;
}
#yo{
    max-width: 100px;
    height:auto;
    border-radius: 50%;
    display: block;
}
#first-project {
    flex-basis: 100%;
    max-width: calc(100%-500px);
}

#first-project img {
   height: 700px;
   margin-bottom: 20px;
}



@media screen and (max-width: 650px){
    article{
        background-color: chocolate;
    }
    .projects{
        flex-direction: column;
    }
}